# Predict Pokemon battles using Machine Learning

Import libraries

In [2]:
import numpy as np
import pandas as pd

Import Datasets

In [11]:
pokemon_df = pd.read_csv("pokemon.csv")
combats_df = pd.read_csv("combats.csv")
tests_df = pd.read_csv("tests.csv")

# __`pokemon_df`__

In [22]:
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

#### Print shape of pokemon_df

In [25]:
pokemon_df.shape

(800, 12)

# __`combats_df`__

In [9]:
combats_df.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

#### Print shape of combats_df

In [24]:
combats_df.shape

(50000, 3)

# __`tests_df`__

In [10]:
tests_df.head()

   First_pokemon  Second_pokemon
0            129             117
1            660             211
2            706             115
3            195             618
4             27             656

#### Print shape of tests_df

In [23]:
tests_df.shape

(10000, 2)